* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
}

body {
  text-align: center;
  padding: 0;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

header {
  border: 5px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px;
}

header #logo {
  margin-left: 15px;
}

header nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  column-gap: 10px;
  margin-right: 15px;
}

header nav ul li a {
  padding: 10px;
  border-right-width: 5px;
  border-right-color: black;
  border-right-style: solid;
}

header nav ul li:last-child a {
  border: none;
}

.list {
  margin: 50px auto;
  width: calc(100% - 40px);
  text-align: center;
}

.list #book-list {
  border: 5px solid black;
  border-radius: 10px;
}

.list #book-list .single-book {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list #book-list .single-book:nth-child(odd) {
  background: gray;
}

.list #book-list .single-book p {
  margin-left: 20px;
}

.list #book-list .single-book button {
  margin-right: 20px;
  border: 2px solid black;
  box-shadow: 5px 5px black;
  padding: 5px;
}

/* Add Section */
hr {
  margin-top: 20px;
  width: 15%;
  border-radius: 50%;
  border-color: black;
  border-style: groove;
}

.list #add-section {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.list #add-section .input-button-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.list #add-section .input-button-wrapper input {
  border: 5px solid black;
  padding: 5px;
}

.list #add-section .input-button-wrapper input::placeholder {
  color: black;
}

.list #add-section #add_Button {
  align-self: flex-end;
  border: 2px solid black;
  box-shadow: 5px 5px black;
  padding: 5px;
}

footer {
  display: block;
  border: 5px solid black;
  border-radius: 10px;
  text-align: left;
  position: fixed;
  width: calc(100% - 40px);
  bottom: 10px;
  left: 0;
  right: 0;
  margin-left: 20px;
  margin-right: 20px;
  box-sizing: border-box;
  backdrop-filter: blur(15px);
}

footer h3 {
  margin-left: 30px;
}